.emailBtn {
  color: #fff;
  background-color: #2076da;
  border: none;
  padding: 7px 13px 7px 10px;
  border-radius: 5px;
}

.container {
  margin-left: 1em;
}
.backBtn {
  color: rgb(177, 177, 177);
  border: none;
  background-color: #f0f0f0;
  padding: 5px 7px 3px 7px;
  margin-top: 1em;
  border-radius: 2px;
}
.h1 {
  margin-top: 0;
}
