.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  height: 100vh;
}
.button {
  color: #fff;
  border: none;
  background-color: #2076da;
  padding: 7px;
  border-radius: 5px;
}
