.container {
  margin-left: 1em;
}
.memName {
  display: flex;
  margin: 10px 0;
}
.pfp {
  color: #fff;
  background-color: rgb(99, 99, 112);
  width: 30px;
  height: 30px;
  text-align: center;
  padding-top: 0.5vh;
  border-radius: 50%;
}
